@{
    ViewBag.Title = "Welcome to your Wardrobe";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Organization Made Easy</p>
    <p><a href="http://www.stylebookapp.com" target="_blank" class="btn btn-primary btn-lg">Get Organized&raquo;</a></p> <!--Changed Button Link-->
</div>                                                                                                                   <!--Blank target to open link in new tab-->

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You live in a busy world and staying organized can be a tall order.  
            Allow Wardrobe Application to organize one of the most important but
            oft overlooked parts of your daily routine, your closet. 
        </p>
        <p><a class="btn btn-default" href="http://www.gq.com" target="_blank">Style Advice from GQ&raquo;</a></p>  <!--Changed button link-->
    </div>                                                                                                          <!--Blank target to open link in new tab-->
    
    
</div>