body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(WardrobePhoto.jpg); 
    width:100%; 
    background-size:contain;
    font-family: 'Abhaya Libre', serif;
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h5{  /*The "Title" of each line in bold*/
    font-weight:bold;
    
}

.thumbnail{
    margin:10px;        /*Some space between the thumbnails*/
    background-color:lightgray;
    min-height:435px;
    line-height:20px;
    border:double;
}

.navbar{
    background-color:darkmagenta;
    color:white;
}

h4{
    text-decoration:underline;
    font-weight:bold;
    color:white;
    text-shadow: 5px 5px 3px  darkmagenta;  /*Casting a shadow behind the text, 3rd setting of 3px makes it blurry but just visible enough to see that it's a shadow of the word*/
}

img{
    width:40%;
    
}

navbar-form navbar-right{
    padding:0;
}

.caption{
    min-height:20px;
}

.navbar-inverse .navbar-nav > li > a{
    color:white;    /*Home, About, Contact Us*/
}

a{
    color:white;  /*"Create new Item" in project*/
}

.navbar-brand .navbar-toggle .navbar-inverse{
    color:white; 
}

p{
    font-size:larger;
    color:palegoldenrod;
    text-shadow:5px 5px 5px 5px darkmagenta;
}

#typeIndexThumbs{ /*ID for making the thumbs' height lower*/   
    min-height:100px;
}

.Road{  /*Google Font*/
    font-family: 'Bungee Inline', cursive;
    color:darkmagenta;
    font-weight:bold;
    font-size:14pt;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative; /*Below what is there, not always at the very bottom of the screen*/
    margin-top: -150px; /* negative value of footer height */
    height: 50px;
    clear: both;
    padding-top: 60px;
}

.glyphicon{
    color:white;
}

h2{
    color:black;
    font-family: 'Bree Serif', serif;
    text-decoration:overline;
}

.control-label{
    color:darkmagenta;
}

h5{     /*For details to match other views*/
    color:darkmagenta;
}

